@{
    ViewData["Title"] = "Index";
}



<h1>Verificación de Tiquetes</h1>
<input placeholder="Ingrese el Id" />
<input placeholder="Ingrese la puerta de entrada" />
<a asp-action="Verificar" class="btn btn-outline-primary">Verificar</a>