@{
    ViewData["Title"] = "Index";
}


<div>
<h1>Verificacion de tiequetes</h1>
<input placeholder="ID del tiquete" />
<p></p>
</div>
<a asp-action="Verificar" class="btn btn-outline-primary">Button</a>