@{
    ViewData["Title"] = "Verificar";
}



<div>
    <h1>Ingreso de puerta de entrada</h1>
    <input placeholder="EntranceGate" />
    <p></p>
</div>
<a asp-action="Confirmar" class="btn btn-outline-primary">Button</a>